body {
    font-family: lucid, serif;
    max-width: 850px;
    margin: auto;
    padding: 40px;
    line-height: 1.8;
    color: ##ded7c5;
    background-color: #5e185e;
}

nav {
    margin-bottom: 30px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #edb634;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #edb634;
}

h2 {
    color: #edcf87;
}

.tagline {
    font-size: 1.2em;
    font-style: italic;
    color: #e0dcdc;
}
