nav {
display: flex;
justify-content:center;
gap:40px;
padding: 20px;
}

nav a {
	color: #f8d798;
	text-decoration: none; 
}

nav a:hover {
	color: #e3a736;
}

The Codex
	Lucidity Originals
	Current Works
	Frameworks
		Models
		Papers
		Threads

.question-card {
	background: #f5eedd;
	border:1px solid #fabb46;
	padding: 20px;
	margin: 20px auto;
	max-width: 700px;
	border-radius: 10px;
}

body{
	background: #4b0f53;
	color: #f4f0e8;
	font-family: ‘Libre Baskerville’, serif;
}

h1{
	font-family:’Cormorant Garamond’, serif;
	color: #ffd966;
	text-align: center;
	margin: auto;
	font-weight: bold;
}

h2, h3{
	font-family:’Cormorant Garamond’, serif;
	color: #ffd966;
}

.card{
	background:rgba(255,255,255,.05)
	border:1px solid #fabb46;
	border-radius: 10px;
	padding: 2rem;
}

.margin-note{
	font-family: ‘Caveat’;
	color: #92ad5c;
	font-size: 1.3rem;
	margin-top: 20px
}

.section-subtitle{
	text-align: center;
	font-style: italic;
	font-size: 1.2rem;
	max-width: 800px;
	margin: auto;
}

.subtitle{
	font-style: italic;
	font-size: 1.2rem;
	max-width: 800px;
	margin: auto;
}

